/* 1-Start ve soru kartının ekranın tam ortasında olması için*/
.btn_start,
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.quiz_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

/*2-GEnişliği ve start butonuna tıklandığında transition özelliğiyle ekrana gelmesi*/
.quiz_box{
    width: 550px;
    transform: translate(-50%,-50%) scale(0.7);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
} 

/*3-Başlık yazı ayarları*/
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

/*4- Soru yazı ayarları*/
section .question_text{
    font-size: 20px;
    font-weight: 600;
}

/*5-Cevap kutusu ayarları*/
.quiz_box .option_list{
    padding: 18px 0;
}

/*6-Cevap kutuları  ayarları*/
.option_list .option{
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*7-Seçeneklerin üzerine gelindiğinde*/
.option_list .option:hover{
    color: #112B2C;
    background-color: #FFD33D;
}

/*8-Doğru seçenek için*/
.option_list .option.correct{
    color: #115724;
    background: #d4edda;
}

/*9-Yanlış seçenek için*/
.option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
}

