/* 2- Yazı tipini google font'tan alalım */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3-body içerisindekli elemanlar sayfanın tam ortasına alalım */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1897bf;
    min-height: 100vh;
}

/* 4- */
.container{
    width: 700px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* 5- */
.box{
    border-radius: 5px;
    border: 1px solid #7f8487;
}


.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 12px 15px;
}

.text-controls textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none; 
}

.text-controls #to-text{
    border-left: 1px solid #7f8487;
    border-radius: 0;
}

.box .text-controls{
    display: flex;
    border-top: 1px solid #7f8487;
    
}


button{
    background-color: #555555;
    border: none;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    transition-duration: .4s;
    border: 2px solid #555;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: black;
    border: 2px solid #555;
}